.element__like {
  min-width: 22px;
  min-height: 19px;
  width: 22px;
  height: 19px;
  background: url("/src/images/like__disabled.svg") 0 0/100% 100% no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: auto 0;
  cursor: pointer;
}
.element__like:hover {
  opacity: 0.6;
}

.element__like_type_active {
  background: url("/src/images/like__acive.svg") 0 0/100% 100% no-repeat;
}
